html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: monospace;
  font-size: 16pt;
  background: black;
}
canvas {
  width: 100% !important;
}
main {
  color: white;
  padding: 1rem;
}
section {
  display: flex;
  flex-direction: column;
}
label {
  display: flex;
  justify-content: center;
}
input {
  font-family: monospace;
  font-size: 16pt;
}
